extends ./layouts/main.jade

block styles

block content

    .container
      .jumbotron


        each game, key in nextGame
            h1 Next !{game.game_type} game
            p !{game.human_datetime}
                br
                !{game.game_location} - Field !{game.game_location_field}
                br
                !{(game.home_away == "Away") ? "Mad Squabbles vs " + game.opponent : game.opponent + " vs Mad Squabbles"}

block scripts
