extends ./layouts/main.jade

block styles

block content

    .container
        if ( nextGame.hasOwnProperty("error") )
            row
                p.alert.alert-danger #{nextGame.error}
        else
            each game, key in nextGame
                .jumbotron
                    div.row
                        div.col-xs-12.col-sm-12.col-md-8
                            h1 !{(game.game_type == "bye week") ? "Next game: Cancelled" : "Next "+game.game_type+" game"}
                            p !{game.human_datetime}
                                br
                                !{game.game_location} - Field !{game.game_location_field}
                                br
                                !{(game.home_away == "Away") ? "Mad Squabbles vs " + game.opponent : game.opponent + " vs Mad Squabbles"}
                        div.col-xs-12.col-sm-12.col-md-4.weather
                            div.weather-header Gametime Weather
                            div.weather-conditions.text-center
                                +weathericon(game.weather.icon)
                            div.weather-temperature
                                span.actual-temp
                                    span.temp #{Math.floor(game.weather.temperature)}
                                    sup.deg &deg
                                    sup.temp-unit F
                            div.weather-summary
                                span #{game.weather.summary}.&nbsp;
                                &nbsp;
                                +wind_direction(game.weather.windSpeed, game.weather.windBearing)
                                &nbsp;
                                if game.weather.precipProbability > 0
                                    span With a #{game.weather.precipProbability} % chance of rain.



block scripts
