extends ./layouts/narrow.jade

block content
    h2.page-header Login

    if success_message
        div.alert.alert-success #{success_message}

    if errors
        each error in errors
            div.alert.alert-danger #{error.msg}

    if firebase_errors
        each err in firebase_errors
            div.alert.alert-danger #{err.message}

    form(
    method="post"
    action="/users/login"
    )
        fieldset
            div.form-group
                label(for="email") Email
                input(
                type="email"
                class="form-control"
                placeholder=""
                name="email"
                )
            div.form-group
                label(for="password") Password
                input(
                type="password"
                class="form-control"
                placeholder=""
                name="password"
                )

            div.form-group
                button(
                type="submit"
                class="btn btn-primary"
                ) Submit
