extends ./layouts/main.jade

block styles

block content

    .container
        h1 #{pageTitle}

        table.table.table-bordered
            thead
                tr
                    th Name
                    th Phone
                    th Postition
                    th Active
            tbody
                each obj in roster
                    tr
                        td !{obj.player_name}
                        td !{obj.phone}
                        td !{obj.position}
                        td !{obj.active}



block scripts
