extends ./layouts/main.jade

block styles

block content

    .container
        h1 #{pageTitle}

        table.table.table-bordered
            thead
                tr
                    th Wk
                    th Date/Time
                    th Matchup
                    th Dugout
                    th Location
                    th Status
                    th Score
            tbody
                each obj in schedule
                    if obj.game_status === "Cancelled"
                        tr.active
                            td.text-muted !{obj.game}
                            td.text-muted !{obj.human_datetime}
                            td.text-muted !{obj.game_cancelled_reason}
                            td !{obj.home_away}
                            td
                            td.text-muted !{obj.game_status}
                            td
                    else
                        tr
                            td !{obj.game}
                            td !{obj.human_datetime}
                            if obj.home_away === "Away"
                                td Mad Squabbles vs !{obj.opponent}
                            else
                                td !{obj.opponent} vs Mad Squabbles
                            td !{obj.home_away}
                            td !{obj.game_location} - Field !{obj.game_location_field}
                            td !{obj.game_status}
                            td
                                if obj.outcome == "W"
                                    span.text-success.text-bold !{obj.outcome} &nbsp;
                                else if obj.outcome == "L"
                                    span.text-danger.text-bold !{obj.outcome} &nbsp;
                                else

                                !{obj.score}
block scripts
